[Unit]
Description=random wallpaper job

[Service]
Type=oneshot
ExecStart=%h/.config/systemd/user/random_wallpaper.sh

[Install]
WantedBy=multi-user.target

