[Unit]
Description=random wallpaper job

[Service]
Type=oneshot
ExecStart=/home/malanius/projects/wallpaper-changer/random_wallpaper.sh

[Install]
WantedBy=multi-user.target

